<div class="row panel " ng-controller="userSearchController" ng-init="init()">
<fieldset>
<legend>Gestión de Usuarios</legend>
  <div class="text-center">
    <img ng-show="isLoading" src="img/loader-big.gif">
  </div>
  <form ng-hide="isLoading" name="formModel" novalidate="">
    <div class="row">
      <div class="col-sm-7 form-inline">
        <div class="form-group">
          <select ng-model="searchType" class="form-control">
            <option value="">Buscar por...</option>
            <option value="first_name">Nombre</option>
            <option value="last_name">Apellido</option>
            <option value="email">eMail</option>
            <option value="phone">Teléfono</option>
            <option value="address">Dirección</option>
            <option value="description">Observación</option>
          </select>
        </div>
        <div class="form-group">
          <input type="text" ng-model="searchText" class="form-control" placeholder="Ingrese su Búsqueda">
        </div>
        <div class="form-group">
            <button class="btn btn-primary" ng-click="loadPage()"><span class="glyphicon glyphicon-search"></span></button>
        </div>
      </div>

      <div class="col-sm-4 pull-right">
        <div class="btn-group pull-right">
          <a href="#/user/update?id=0" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Nuevo</a>
          <!--<button data-toggle="dropdown" class="btn btn-default dropdown-toggle">Herramientas</button>
          <ul class="dropdown-menu">
            <li><a href="caca">Imprimir</a></li>
            <li><a>Exportar a PDF</a></li>
            <li><a>Exportar a Excel</a></li>
          </ul>-->
        </div>
      </div>

    </div>

    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th class="col-xs-2">Usuario</th>
          <th class="col-xs-2">Rol</th>
          <th class="col-xs-2">eMail</th>
          <th class="col-xs-2">Teléfono</th>
          <th class="col-xs-2">Dirección</th>
          <th>Observación</th>
          <th class="col-xs-1">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="element in elements" ng-include="getTemplate(element)" ng-form="form{{element.id}}"></tr>
        <tr ng-init="element = { $$isNew : true }" ng-include="'edit'" ng-form="formNew"></tr>
      </tbody>
    </table>

    <div class="input-group pull-right">
      <span class="col-xs-4">
        Mostrar:
        <select ng-change="onPageChange()" class="form-control input-sm" ng-model="pageSize">
          <option value="5">5</option>
          <option value="10">10</option>
          <option value="15">15</option>
          <option value="20">20</option>
          <option value="30">30</option>
          <option value="50">50</option>
        </select>
      </span>
      <span class="btn-group">
        <div>

          <pagination ng-change="onPageChange()" max-size="5" items-per-page="pageSize" boundary-links="true" total-items="totalItems" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
        </div>
      </span>
    </div>
  </form>

  <!-- View Row-->
  <script type="text/ng-template" id="view">
    <td>
      <a href="#/user/update?id={{element.id}}">{{element.first_name}} {{element.last_name}}</a>
    </td>
    <td>
      <span ng-repeat="role in roles | filter:{id:element.id_role}:true">
        <span>{{role.name}}</span>
      </span>
      <img ng-show="roles==null" src="img/loader-small.gif" />
    </td>
    <td>
      {{element.email}}
    </td>
    <td>
      {{element.phone}}
    </td>
    <td>
      {{element.address}}
    </td>
    <td>
      <span >{{element.description}}</span>
    </td>
    <td class="center" ng-include="'buttons'"></td>
  </script>

  <!-- Edit Row-->
  <script type="text/ng-template" id="edit">
    <td>
      <input ng-model="element.selected.first_name" type="text" class="form-control" maxlength="35" required placeholder="Nombre" />
      <input ng-model="element.selected.last_name" type="text" class="form-control" maxlength="35" required placeholder="Apellido" />
      <input ng-model="element.selected.id" type="hidden" />
    </td>
    <td>
      <select ng-model="element.selected.id_role" class="form-control" required ng-options="role.id as role.name for role in roles">
        <option value="">Rol de Usuario...</option>
      </select>
    </td>
    <td>
      <input ng-model="element.selected.email" type="email" class="form-control" maxlength="254" required placeholder="eMail" />
    </td>
    <td>
      <input ng-model="element.selected.phone" type="text" class="form-control" maxlength="15" placeholder="Teléfono" />
    </td>
    <td>
      <input ng-model="element.selected.address" type="text" class="form-control" maxlength="40" placeholder="Dirección" />
    </td>
    <td>
      <textarea ng-model="element.selected.description" class="form-control" maxlength="1024" placeholder="Observaciones del Usuario."></textarea>
    </td>
    <td class="center" ng-include="'buttons'"></td>
  </script>

  <!-- Buttons -->
  <script type="text/ng-template" id="buttons">
    <div ng-hide="element.$$isNew || element.$$isUpdating" class="btn-group form-btn-group">
      <button ng-click="remove(element)" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-remove"></span></button>
      <button ng-click="update(element)" ng-show="element.$$isEditing"  class="btn btn-success btn-sm"><span class="glyphicon glyphicon-ok"></span></button>
      <button ng-click="edit(element)" ng-hide="element.$$isEditing" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-pencil"></span></button>
    </div>
    <div ng-show="element.$$isNew && !element.$$isUpdating" class="btn-group">
      <button ng-click="insert(element)" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-plus"></span></button>
    </div>
    <img ng-show="element.$$isUpdating" src="img/loader-small.gif" />
  </script>

</fieldset>
</div>